/* Basislayout */

/* Achtergrond */

#bodywir{
 background-color:pink;
}

#bodyaiw {
  background-color:rgb(0, 128, 255, 0.699);
}

#bodyhm {
   font-family:century;
}

/*        */

.honerablementions {
    text-align:center;
    background-color:grey;
}

.fotohoofdp {
    padding:1px;
}

.intervallinks {
    border:2px solid rgb(8, 8, 7);
    width:35%;
    clear:both;
    background-color:white;
}

/* Personages */

#blokpersonageralph {
    border:2px solid rgb(8, 8, 7);
    background-color:rgb(255, 204, 255);
    width:40%;
    overflow-y:auto;
    float:left;
    position:relative;
    animation: slide 1s;

}

#blokpersonagevenellope {
    border:2px solid rgb(8, 8, 7);
    background-color:rgb(221, 163, 226);
    width:40%;
    overflow-y:auto;
    float:right;
    clear:both;
    position:relative;
    animation: slide 2s;
}

    .personage {
        clear:both;
    }


    #blokpersonagemike {
    border:2px solid rgb(8, 8, 7);
    background-color:;
    width:40%;
    overflow-y:auto;
    float:left;

}

    #blokpersonagejames {
    border:2px solid rgb(8, 8, 7);
    background-color:;
    width:40%;
    overflow-y:auto;
    float:right;
    clear:both;

}

#blokpersonagealice {
    border:2px solid rgb(8, 8, 7);
    background-color:rgb(0, 102, 255);
    width:40%;
    overflow-y:auto;
    float:left;

}

#blokpersonagemadhatter {
    border:2px solid rgb(8, 8, 7);
    background-color:rgb(0, 71, 179);
    width:40%;
    overflow-y:auto;
    float:right;
    clear:both;
}

#blokpersonageredqueen {
    border:2px solid rgb(8, 8, 7);
    width:40%;
    overflow-y:auto;
    float:right;
    background-color:rgb(77, 77, 255);
}

#blokpersonagewhitequeen {
    border:2px solid rgb(8, 8, 7);
    width:40%;
    float:right;
    overflow-y:auto;
    background-color:rgb(77, 77, 255);
}

#blokpersonagehardscrabble {
    border:2px solid rgb(8, 8, 7);
    width:40%;
    overflow-y:auto;
    float:right;
}

.anderepersonages {
    float:left;
    width:30%;
    border:2px solid rgb(8, 8, 7);
    background-color:rgb(180, 129, 206);
    position:relative;
    animation: slide 3s;
}

#aiw {
   border:white;
   background-color:rgb(3, 94, 252);
}

#mu {
    border:white;
    background-color:greenyellow;
}

.wiranderepersonages {
    padding:4px;
}

.aiwmuanderepersonages {
    border:dotted;
}

/* paragrafen */


.paragraafhoofdp1 {
    font-size:20px;
}

.paragraafhoofdp2 {
    font-size:17px;
}

.paragraafwreckitralph {
    background-color:rgb(247, 230, 255);
    clear:both;
}

.paragraafaliceinwonderland {
    background-color:;
}

.tekstverhaalrechts2 {
    float:right;
    width:68%;
}

.tekstverhaalrechts {
        float:right;
        width:59%;
    }

.tekstverhaallinks {
        float:left;
        width:59%;

    }

.verhaalcenter {
    clear:both;
    padding-top:10px;
}


#theend {
    text-align:center;
    clear:both;
}


.phonorablementions
{
    width:22%;
    float:right;
    background-color:grey;
    height:390px;
    margin:2px;
    padding:5px;
}

footer {
    clear:both;
}

/* afbeeldingen */

#fotop1 {
    float:right;
    padding:6px;
}

#fotop2 {
    float:left;
    padding:6px;
}

#fotop3 {
    float:right;
    padding:6px;
}

.imginblok {
  
    float:right;
    padding:8px;

}

@keyframes slide {
    0% {left:-900%;}
    100%{left:0px;}
}


main {
    max-width: 900px;
    margin: auto;
}




/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}





