/* Basislayout */

.paragraafoverdisney {
    font-family:monospace;
    float:left;
   
}

#blokpersonageralph {
    border:2px solid rgb(8, 8, 7);
    background-color:navajowhite;
    width:40%;
    overflow-y:auto;
    float:left;

}

.imginblok {
  
    float:right;
    padding:6px;

}

#blokpersonagevenellope {
    border:2px solid rgb(8, 8, 7);
    background-color:rgb(221, 163, 226);
    width:40%;
    overflow-y:auto;
    float:right;
    clear:both;
}
    .tekstverhaalrechts {
        float:right;
        width:59%;
    }

    .tekstverhaallinks {
        float:left;
        width:59%;

    }


    .personage {
        clear:both;
    }


    #blokpersonagemike {
    border:2px solid rgb(8, 8, 7);
    background-color:;
    width:40%;
    overflow-y:auto;
    float:left;

}

    #blokpersonagejames {
    border:2px solid rgb(8, 8, 7);
    background-color:;
    width:40%;
    overflow-y:auto;
    float:right;
    clear:both;

}

#blokpersonagealice {
    border:2px solid rgb(8, 8, 7);
    background-color:;
    width:40%;
    overflow-y:auto;
    float:left;

}

#blokpersonagemadhatter {
     border:2px solid rgb(8, 8, 7);
    background-color:;
    width:40%;
    overflow-y:auto;
    float:right;
    clear:both;
}

.paragraafwreckitralph {
    background-color:grey;
    clear:both;
}

.anderepersonages {
    background-color:rgb(130,8,200);
    clear:both;
    width:30%;
    border:2px solid rgb(8, 8, 7);
}

footer {
    clear:both;
}



  






/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}





